body{
    margin: 0;
    background-color: rgb(212, 212, 212);
    font-family: Lucida ,Monaco, Courier, monospace;
}
#pageContainer{
    padding-left: 10%;
    padding-right: 10%;
}
div section {
    /*sections that are inside of a div, aka the main pages*/
    /* width:80vw; */
    height: fit-content;
}
header{
    text-align: center;
    font-size: 5rem;
    background-color: rgb(218, 218, 218);
}
nav ul{
    background-color: rgb(75, 196, 126);
    box-shadow: 0px -20px 30px 10px rgb(173, 93, 173) inset;
    text-align: center;
    margin-top: 0;
}
nav ul li{
    /* make room for padding */
    display:inline-block; 
    padding: 1rem;
}
nav ul li:hover{
    text-transform: uppercase;
    color:rgb(213, 188, 85);
}
#installPrompt{
    visibility: hidden;
    position: fixed;
    height: 15%;
    width: 100%;
    background-color: rgb(163, 80, 163); /*leave no gap at the bottom*/
    border-radius: 20px 20px 0 0;
    bottom: 0;
    /* above content, below Back to top btn */
    z-index: 1;
    /* text centered */
    padding: 0;
}
#installPrompt div{
    /* to put text in top-center */
    position: absolute;
    top: 20%;
    /* center self */
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
#BackToTop{
    /* page starts at the top, so hide btn */
    display: none;
    background-color: rgb(133, 145, 161);
    position: fixed;
    bottom: 0; /*stick to bottom*/
    /* border-radius goes clockwise */
    border-radius: 5px 10px 0 0;
    box-shadow: 5px 5px grey;
    z-index: 2;
}
button:hover{
    text-transform: uppercase;
}
#BackToTop:active{
    /* give effect of button being pressed down */
    box-shadow: none;
    transform: translate(-5px,5px);
}
img{
    max-width: 100%;
    /* remove the gap below images */
    vertical-align: middle;
}
.spanTop{
    display: inline-block;
    vertical-align: top;
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip_Text {
    /* max width is the width of the tooltip */
    visibility: hidden;
    position: absolute;
    /* word break for RWD when overflowing screen width */
    word-break: break-all;
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(4, 4, 4, 0.7);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    bottom: 130%;
    left: 0;
}
#loonToolTip{
    /* make loon btn bigger so img is bigger. */
    padding-left: 2em;
    padding-right: 2em;
}
button.tooltip{
    /* make the button tooltips stand out less */
    background-color: rgb(159, 159, 159);
    box-shadow: 5px 5px rgb(88, 87, 86);
}
.tooltip:hover .tooltip_Text {
    visibility: visible;
}
/* when tooltip is a button, only show when clicked, not hovered */
button.tooltip:hover .tooltip_Text{
    visibility: hidden;
}
button.tooltip:focus .tooltip_Text{
    visibility: visible;
}

#pigeonGame{
    background-color: darkgray;
    width: fit-content;
    height: fit-content;
    margin: auto;
    /* top row for info display, bottom for game */
}
td{
    text-align: center;
    padding: 0.5em;
}
#gameBG{
    background-color: rgb(47, 47, 166);
}
.sticky{
    position: sticky;
    top:0;
}
/* #perefalc{
    background-color: bisque;
} */
#FalcDiagram{
    text-align: center;
    vertical-align: top;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* background-color: coral; */
    position: relative;
}
.FalcLeft{
    animation: slideLeft 0.5s forwards;
    position: absolute;
    background-color: rgb(199, 172, 105);
    z-index: -1;
    left: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    grid-column: 1/2;
    grid-row: 1; /* make them overlap, since they will be appearing one at a time anyway */
}
.FalcRight{
    animation: slideRight 0.5s forwards;
    position: absolute;
    background-color: rgb(199, 172, 105);
    z-index: -1;
    width: 100%;
    right:100%;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    grid-column: 3/4;
    grid-row: 1;
}
@keyframes slideLeft {
    100% { left: 0; }
}
@keyframes slideRight {
    100% { right: 0; }
}
#FalcDiagram div{
    grid-column: 2/3;
}
/* graph to display animal speeds, with reference from https://youtu.be/8ULg-7SvP2o */
#speedGraph{
    background-color: bisque;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    text-align: center;
    height: 50%;
    display:flex; /*prevents graph from morphing whats below it*/
    margin: auto; /*center self*/
    justify-content: center; /*center content*/
}
#speedGraph h3{
    font-weight: 1; /*less bold*/
}
.bar{ /* bar background/container */
    height: 1em;
}
.bar:nth-of-type(1){
    width: 50vw;
}
.bar:nth-of-type(2){
    width: 20.3vw;
}
.bar:nth-of-type(3){
    width: 20.6vw;
}
.bar div{ /* actual bar that should move */
    height: 1em;
    width: 0;
    background-color: rgb(255, 72, 11);
    border-radius: 5px;
    animation: barAnim 2s linear forwards;
}
.barAnim{
    animation: barAnim 2s linear forwards;
}
@keyframes barAnim{
    100%{width: 100%;} /*at end of anim, bar-div should take up 100% of the container width*/
    to{background-color:green;}
}
.bar div span{ /*container for the animal image*/
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%; /*make it a circle*/
    float:right;
    display: flex;
    align-items: center;
    /* Make image sit in the center of bar, and more to the right */
    position: relative;
    top: -0.25em; /*(image height - bar height)/2*/
    left: 5px;
    background-color: white;
}
#inmedia{
    display: flex;
}
#hamMenu{
    /* only visible when screen width < 800 */
    display:none;
}
footer{
    border-top:solid 1px rgb(126, 70, 146);
    margin-top: 2em;
    padding-top: 1em;
    display: flex;
    height: fit-content;
}
footer div{
    /* 2 divs: info sources, and media sources */
    flex-basis: 50%;
}
footer ol li{
    margin-bottom: 1em;
}
input{
    width: 50%;
    padding:0.5em;
    text-align: right;
    background-color: rgb(165, 220, 165);
    margin: 1em 0; /*margin top and bottom*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* get rid of the number arrow thing on the side of input field */
  -webkit-appearance: none;
  margin: 0;
}
button{
    background-color: rgb(225, 180, 109);
    padding: 0.5em;
    /* border-radius goes clockwise */
    border-radius: 5px 10px 5px 5px;
    box-shadow: 5px 5px rgb(118, 105, 81);
    border: none;
    width: fit-content;
    font-family: Lucida ,Monaco, Courier, monospace;
}
button:active{
    /* give effect of button being pressed down */
    box-shadow: none;
    transform: translate(5px,5px);
}
.roundButton{
    /* make border round */
    border-radius: 500%;
    box-shadow: 5px 5px rgb(88, 87, 86);
    padding: 0;
}
#inmedia .roundButton{
    width: 3em;
    margin: 1em 0;
}

/*for js showing and hiding nav menu*/
/* Referenced from: https://codepen.io/erikterwan/pen/EVzeRP?editors=1100 */
.toggleDisplay{
    transform: translate(0%);
    /*cubic bezier: variable speed (start, ?, end, ?)*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.toggleCloseDisplay{
    transform: translate(-100%); /*move offscreen*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.togglehide{
    display: none;
}

@media screen and (max-width:800px){
    body{
        padding: 0;
    }
    #pageContainer{
        padding: 0 2px;
    }
    header{
        font-size: 2.5em;
        /* mimic nav colours on larger devices */
        border-bottom: 10px solid rgb(75, 196, 126);
        /* outline: medium solid rgb(173, 93, 173); */
        box-shadow: 0px 10px 10px 5px rgb(173, 93, 173);
    }
    nav{
        z-index: 2;
        position: sticky;
        top:0;
    }
    nav div{
        position: relative;
    }
    nav div ul{
        box-shadow: none;
        transform-origin: 0%;
        margin:0;
        width:fit-content;
        position: absolute;
        border-radius: 0 0 15px 0;
    }
    nav div ul li{
        display:block;
    }
    #hamMenu{
        z-index: 3; /*show above the rest of the nav*/
        display: inline;
        /* more padding vertically, gap between edge of screen and the button */
        padding: 1em 0.5em;
        /* stay on the left, in the nav menu */
        position: absolute;
        margin:0; 
    }
    /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    /* animate the spans to move into a cross and back*/
    #hamMenu span{
        display: block;
        width: 40px;
        height: 5px;
        /* margin for spacing between bars */
        margin-bottom: 10px;
        position: relative;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        /* line up transition time with .toggleDisplay */
        transition: 0.5s;
    }
    /* when toggled in script, each bar has different anim */
    .hamMenuSpanAnim .hambar:nth-of-type(1){
        /* pivot is in the center of bar so move up a bit */
        transform: translate(0, 15px) rotate(-45deg);
    }
    .hamMenuSpanAnim .hambar:nth-of-type(2){
        /* vanish */
        opacity: 0;
    }
    .hamMenuSpanAnim .hambar:nth-of-type(3){
        /* pivot is in the center of bar so move down a bit */
        transform: translate(0, -15px) rotate(45deg);
    }
    button{
        padding: 1em;
    }
    button.tooltip{
        margin: 1em 0;
    }
    td{
        /* remove side padding, lower vertical padding */
        padding: 0.2em 0;
        overflow: hidden;
    }
    table{
        padding:0;
    }
    section{
        /* gap between the starting pos of hamMenu, and content */
        margin-top: 55px;
    }
    #pigeons div img{
        /* make image big, it auto-resizes */
        width:400px;
    }
    #pigeonDiag{
        /* container */
        text-align: center;
        vertical-align: top;
        position: relative;
    }
    .pigeoninfo{
        margin-top: 0.5em;
        background-color: rgb(199, 172, 105);
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }
    #FalcDiagram{
        display: block;
        margin:0;
    }
    .FalcLeft, .FalcRight{
        margin-top: 0.5em;
        position: static; /*push other content down for space*/
        animation: none;
        left:0;
        right:0;
    }
    #speedGraph > div:nth-of-type(2){
        /* keep width constant so p text does not affect width */
        flex-basis:80%;
    }
    /* bars using % since container width is more fixed*/
    /* when p text updated, box width would change and de-center the bars */
    .bar:nth-of-type(1){
        width: 100%;
    }
    .bar:nth-of-type(2){
        width: 40.6%;
    }
    .bar:nth-of-type(3){
        width: 41.2%;
    }

    footer{
        padding-top: 1em;
        /* extra space below footer so BackToTop btn wont cover the content */
        padding-bottom: 3em;
        display: inline-block;
    }
}
